* {
  margin: 0;padding: 0;box-sizing: border-box;
}
  nav {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-left: auto;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.bar {
  height: 30px;
}

.main {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

input {
  width: 80%;
  padding: 1rem;
  border-radius: 30px;
  border: 1px solid gray;
  outline: none;
}

.btns {
  margin-top: 1rem;
}

.btn {
  padding: 1rem;
  border: none;
}

footer {
  background: rgb(223, 212, 212);
}

.footerA,
.footerB {
  padding: 1rem;
  border-bottom: 1px solid gray;
}

.footerB {
  display: flex;
  justify-content: space-between;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.left, .right, .footerA p {
  padding: 0 1rem;
}

form {
  position: relative;
}

.icon {
  height: 17px;
  position: absolute;
}

.search {
  left: 13%;
  top: 30%;
}

.microphone {
  right: 13%;
  top: 30%;
}

footer a {
  padding: 0 .5rem;
}